<label for={{ name }} class="input">
  <input name={{ name }} type={{ type }} class="input__element" placeholder="" {{#if isDisabled}}disabled{{/if}} {{#if
    value}}value={{ value }}{{/if}} />
  <div class="input__label">{{ label }}</div>
</label>