{{#> MainLayout isTwoColumns=true}}
<nav class="chat-nav">
  {{> Button type=nav.action.type label=nav.action.label}}
  <form class="chat-nav__search">
    <input name={{nav.search.name}} type={{nav.search.type}} placeholder={{nav.search.placeholder}} />
  </form>
  <hr />
  <ul>
    {{#each nav.messages}}
    <li>
      {{> ChatMessageNav avatar=avatar name=name message=message date=date badge=badge isActive=isActive}}
    </li>
    {{/each}}
  </ul>
</nav>
<section class="chat-main-section">
  <header class="chat-main-section__header">
    {{> Avatar src=section.header.avatar.src alt=section.header.avatar.alt}}
    <h2>{{section.header.name}}</h2>
  </header>
  <ul class="chat-main-section__messages">
    {{#each section.messages}}
    <li class="chat-main-section__messages-wrapper chat-main-section__messages-wrapper_{{type}}">
      {{> ChatMessage message=message time=time type=type}}
    </li>
    {{/each}}
  </ul>
  <form class="chat-main-section__form">
    <input name={{section.input.name}} type={{section.input.type}} placeholder={{section.input.placeholder}} />
    {{> Button arrow=section.action.arrow label=section.action.label type=section.action.type}}
  </form>
</section>
{{/ MainLayout}}
