<div class="input-row">
  <label for={{name}} class="input-row__label">{{label}}</label>
  <input name={{name}} type={{type}} class="input-row__element" {{#if isDisabled}}disabled{{/if}} {{#if
    value}}value={{value}}{{/if}} />
</div>
